SECRET_KEY= 'django-insecure-)j9o(qxq=9&uh$##3o^_g)wz=x1ttj1(e9q3t7au8rnob$ra7('
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1

COGNODB_URI=your_cognodb_uri_here
COGNODB_USERNAME=your_username_here
COGNODB_PASSWORD=your_password_here